body{
    text-align:center;
}
div{
    height:50px;
    width:150px;
    display:inline-block;
    border:2px solid black;
}
#container{
    width:600px;
    height:600px;
    display:flex;
    flex-direction:row;
    /* flex-direction:row;
    flex-direction:column;
    flex-direction:column-reverse; */
    justify-content:center;
    /* justify-content:flex-start;
    justify-content: space-evenly;
    justify-content:flex-end;
    justify-content:space-around; */
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
    /* align-content:flex-start;
    align-content:flex-end; */
    

}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
    height:200px;
}
#box3{
    background-color: darkkhaki;
    height:75px;
}
#box4{
    background-color: indianred;
}
#box5{
    background-color: slateblue;
}


