div{
    text-align: center;
    width:100%;
    border:solid black;
    background-color: aquamarine;
    margin:5px 0px 5px 0px;
    padding-bottom: 10px;

}
p{
    width:100%;
    background-color:sandybrown ;
    border:solid 2px black;
}